body {
    background-image: url(images/red-plaid.webp);
}

h1 {
    color: black;
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-family: "Fredericka the Great";
    font-size: 80px;
}

.phone {
    background-color: white;
    background-image: url(images/iphone.png);
    background-size: 300px 580px;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 300px;
    height: 575px;
    border-radius: 50px;
}

.icon {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    height: 400px;
    width: 90%;
    margin: 0 auto;
}

.box {
    border: 1px solid blue;
}

#banner {
    margin-top: 100px;
    font-size: 12px;

}